{
  "name": "dbmgr",
  "target": "!drive\\dbmgr",
  "deploy": {
    "pre": [
      "MD !targetdir"    
    ],

    "run": [
      "CPF !packages\\!name\\Common.Logging.Core.dll !targetdir\\Common.Logging.Core.dll",
      "CPF !packages\\!name\\Common.Logging.Core.pdb !targetdir\\Common.Logging.Core.pdb",
      "CPF !packages\\!name\\Common.Logging.Core.xml !targetdir\\Common.Logging.Core.xml",
      "CPF !packages\\!name\\Common.Logging.dll !targetdir\\Common.Logging.dll",
      "CPF !packages\\!name\\Common.Logging.pdb !targetdir\\Common.Logging.pdb",
      "CPF !packages\\!name\\Common.Logging.xml !targetdir\\Common.Logging.xml",
      "CPF !packages\\!name\\connectionStrings.local.sample !targetdir\\connectionStrings.local.sample",
      "CPF !packages\\!name\\Deployer.dll !targetdir\\Deployer.dll",
      "CPF !packages\\!name\\Deployer.pdb !targetdir\\Deployer.pdb",
      "CPF !packages\\!name\\env.config.sample !targetdir\\env.config.sample",
      "CPF !packages\\!name\\Oracle.ManagedDataAccess.dll !targetdir\\Oracle.ManagedDataAccess.dll",
      "CPF !packages\\!name\\SF.application !targetdir\\SF.application",
      "CPF !packages\\!name\\SF.exe !targetdir\\SF.exe",
      "CPF !packages\\!name\\SF.exe.config !targetdir\\SF.exe.config",
      "CPF !packages\\!name\\SF.exe.manifest !targetdir\\SF.exe.manifest",
      "CPF !packages\\!name\\SF.pdb !targetdir\\SF.pdb",
      "CPF !packages\\!name\\vault.sample !targetdir\\vault.sample",
      "CPF !packages\\!name\\CommandLine.dll !targetdir\\CommandLine.dll",
      "CPF !packages\\!name\\CommandLine.xml !targetdir\\CommandLine.xml",
      "CPF !targetdir\\connectionStrings.local.sample !targetdir\\connectionStrings.local"
    ],

    "verify": [
      "FILE EXISTS !targetdir\\Common.Logging.Core.dll",
      "FILE EXISTS !targetdir\\Common.Logging.Core.pdb",
      "FILE EXISTS !targetdir\\Common.Logging.Core.xml",
      "FILE EXISTS !targetdir\\Common.Logging.dll",
      "FILE EXISTS !targetdir\\Common.Logging.pdb",
      "FILE EXISTS !targetdir\\Common.Logging.xml",
      "FILE EXISTS !targetdir\\connectionStrings.local.sample",
      "FILE EXISTS !targetdir\\Deployer.dll",
      "FILE EXISTS !targetdir\\Deployer.pdb",
      "FILE EXISTS !targetdir\\env.config.sample",
      "FILE EXISTS !targetdir\\Oracle.ManagedDataAccess.dll",
      "FILE EXISTS !targetdir\\SF.application",
      "FILE EXISTS !targetdir\\SF.exe",
      "FILE EXISTS !targetdir\\SF.exe.config",
      "FILE EXISTS !targetdir\\SF.exe.manifest",
      "FILE EXISTS !targetdir\\SF.pdb",
      "FILE EXISTS !targetdir\\vault.sample",
      "FILE EXISTS !targetdir\\CommandLine.dll",
      "FILE EXISTS !targetdir\\CommandLine.xml"
    ],

    "envvars": [
        [ "APPEND", "PATH", "!targetdir", ";"]
    ]
  },

  "remove": {
    "run": [
      "RF !targetdir\\Common.Logging.Core.dll",
      "RF !targetdir\\Common.Logging.Core.pdb",
      "RF !targetdir\\Common.Logging.Core.xml",
      "RF !targetdir\\Common.Logging.dll",
      "RF !targetdir\\Common.Logging.pdb",
      "RF !targetdir\\Common.Logging.xml",
      "RF !targetdir\\connectionStrings.local.sample",
      "RF !targetdir\\Deployer.dll",
      "RF !targetdir\\Deployer.pdb",
      "RF !targetdir\\env.config.sample",
      "RF !targetdir\\Oracle.ManagedDataAccess.dll",
      "RF !targetdir\\SF.application",
      "RF !targetdir\\SF.exe",
      "RF !targetdir\\SF.exe.config",
      "RF !targetdir\\SF.exe.manifest",
      "RF !targetdir\\SF.pdb",
      "RF !targetdir\\vault.sample",
      "RF !targetdir\\CommandLine.dll",
      "RF !targetdir\\CommandLine.xml",
      "RF !targetdir\\connectionStrings.local"
    ]
  }
}